$color-accent: #202825
$color-background-alt: $color-accent
    
$body-font-family: "Inter", sans-serif
$heading-font-family: "Inter", sans-serif
$enable-header-sticky: true

$h1-weight: 700
$h2-size-desktop: px2rem(30)

$header-background: transparent
$header-color: white
$header-logo-height: 60px
$header-logo-height-md: 80px
$header-sticky-background: $color-accent
$header-sticky-color: white

$hero-color: white

$footer-color: white
$footer-logo-height: 60px
$footer-logo-height-md: 80px

