$body-font-family: "Inter", sans-serif
$heading-font-family: "Inter", sans-serif
$enable-header-sticky: true

$header-background: transparent
$header-color: white
$header-logo-height: 60px
$header-logo-height-md: 80px

$hero-background-color: #202825

$footer-background-color: #202825
$footer-color: white
$footer-logo-height: 60px
$footer-logo-height-md: 80px