.post .media
    aspect-ratio: 1
    img
        aspect-ratio: 1

footer[role="contentinfo"] a
    color: white
    text-decoration-color: rgba(255, 255, 255, 0.3)
    &:hover
        text-decoration-color: rgba(255, 255, 255, 1)
        